/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	color: #333;
	padding: 20px;
	line-height: 1.7em;
	background-color: white;
}

h2 {
	margin-top: 40px;
	margin-bottom: 10px;
}

p, ul, li {
	font-size: .95em;
}

li {
	margin-bottom: 20px;
}

/* ================================= 
  Layout Div Styles
==================================== */

#content-wrapper {
	width: 80%;
	max-width: 950px;
	min-width: 850px;
	margin: 0 auto;
	padding: 40px;
	background-color: white;
}

#recur_solve-a-puzzle,
#elim_solve-a-puzzle {
	width: 100%;
	padding: 20px 20px 20px 0px;
}

#recur_sudoku-input,
#elim_sudoku-input {
	float: left;
	display: block;
	width: 375px;
}

#recur_board,
#elim_board {
	float: left;
	display: none;
	width: 375px;
}

.buttons {		/* The .buttons class is a button not a div. */
	margin: 0px 0px 5px 0px;
	font-size: .95em;
}

/* ================================= 
  Table Styles
==================================== */

.table-outer,
tr {
	margin: 0px;
	border: 0px;
	padding: 0px;	
	border-collapse: collapse;
	border-spacing: 0px;
}

.table-inner,
tr {
	margin: 0px;
	border: 0px;
	padding: 0px;	
	border-collapse: collapse;
	border-spacing: 0px;
}

.table-outer td {
	margin: 0px;
	border: 2px solid #333;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0px;
	text-align: center;
	font-size: .95em;
}

.table-inner td {
	margin: 0px;
	border: 1px solid #333;
	padding: 0px;
	width: 30px;
	height: 30px;
	border-collapse: collapse;
	border-spacing: 0px;
	text-align: center;
	font-size: .95em;
}

.given {
	background-color: #d9d9d9;
}

.notgiven {
	background-color: white;
}

/* ================================= 
  Input and Button Styles
==================================== */

input {
	border: 0px;
	margin: 0px;
	padding: 0px;	
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: .95em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}   /* NOTE: I borrowed this CSS fix for removing the arrows. I forget where I borrowed it from. Sorry! */

button {
	margin-top: 10px;
	margin-left: 5px;
	background-color: white;
	border-color: #999;
	border-radius: 5px;
	border-width: 1px; 
	border-style: solid;
	padding: 5px 10px;
}

#elim_submitPuzzle,
#recur_submitPuzzle {
	color: white;
	background-color: green;
	border-color: green;
}

#elim_submitPuzzle,
#recur_submitPuzzle,
#elim_resetPuzzle,
#recur_resetPuzzle {
	font-size: 1.05em;
	padding: 10px 20px;
	margin: 20px 20px 0px 0px;
}

/* ---- Float clearfix ---- */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}